@import "variables";

.btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  &--blue {
    background-color: $blue;
    color: #FFFFFF;
    box-shadow: inset 0px -3px 1px darken($blue, 10);
  }
}